
 body{
         margin: 0;
                
     }
.header{
        background-color:rgb(208, 227, 201);
        display: flex;
        justify-content: space-between;
        align-items:flex-end;
        padding: 10px 30px;
             }
            .logo{
                width:100px;
            }
            .header-link a{
                color: rgb(0, 0, 0);
                padding: 2px 15px;
                text-decoration: none;
                font-family: "Science Gothic", sans-serif;
            }
            .header-link a:hover{
                background-color: rgb(151, 206, 130);
                border-radius: 15px; 
            }
            .header-link button{
                background-color:rgb(26, 91, 0) ;
                color:white;
                border: none;
                padding: 10px 15px;
                border-radius: 15px;
                font-family: "Science Gothic", sans-serif;
            }
            .header-link button:hover{
                background-color: rgb(151, 206, 130);
            }
            